{% extends "base.html" %}

{% load static %}

{% block title %}Complete reset{% endblock %}

{% block content %}
  <div class="container">
    <div class="row my-3">
      <div class="col-sm-6 offset-sm-3">
        <h3>Reset Password completed!</h3>
        <hr>
        <div>
          <iframe
            src="https://giphy.com/embed/wzHOzYn1wmHm14e3xa"
            width="480"
            height="266"
            frameBorder="0"
            class="giphy-embed"
            allowFullScreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
